/*
* Prefixed by https://autoprefixer.github.io
* PostCSS: v8.4.14,
* Autoprefixer: v10.4.7
* Browsers: last 4 version
*/

.section_main_container {
    width: 100vw;
    height: 75vh;
    min-height: 751px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;

}

.section_card_div_h1 {
    height: 10%;
    margin-left: 2%;
    font-family: 'Ubuntu', sans-serif;
    font-size: 2.1rem;
    font-weight: 300;
    color: #12315B;
    padding: 10px;
    width: 100%;
    
}

.section_card_div_h1 h1 {
    max-width: 450px;
    border-bottom: 1px solid #12315B;
    

}

.container_main {
    width: 100%;
    height: 90%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
}

.container_main_div {
    width: 100%;
    max-width: 1050px;
    height: 100%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    justify-items: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    padding: 10px;

}

.section_card {
    min-width: 339.484px;
    min-height: 480.879px;
    max-width: 339.484px;
    max-height: 480.879px;
    width: 30%;
    height: 65%;
    padding: 10px;

}

.section_card_div {
    width: 100%;
    height: 100%;
    background-color: #12315B;
    border-radius: 5px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -ms-flex-wrap: nowrap;
        flex-wrap: nowrap;
    -webkit-box-shadow: rgba(0, 0, 0, 0.2) 0px 12px 28px 0px, rgba(0, 0, 0, 0.1) 0px 2px 4px 0px, rgba(255, 255, 255, 0.05) 0px 0px 0px 1px inset;
            box-shadow: rgba(0, 0, 0, 0.2) 0px 12px 28px 0px, rgba(0, 0, 0, 0.1) 0px 2px 4px 0px, rgba(255, 255, 255, 0.05) 0px 0px 0px 1px inset;
}

.section_card_h4 {
    font-family: 'Open Sans', sans-serif;
    font-size: 1.5rem;
    font-weight: 300;
    padding: 10px;
    color: #ffff;
    width: 100%;
    text-align: center;
}

.section_card_h4 h4 {
    width: 50%;
    padding: 10px;
    border-bottom: #ffff solid 1px;
}

.section_card_h4 p {

    font-family: 'Poppins', sans-serif;
    font-size: .9rem;
    font-weight: 300;
    padding: 10px;
    color: #ffff;
}

.section_card_ul {
    width: 100%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
}

.section_card_ul ul {
    width: 100%;
    padding: 5px;
    margin: 40px;
}

.section_card_ul ul li {
    width: 100%;
    font-family: 'Poppins', sans-serif;
    color: #ffff;
    font-size: 1rem;
    font-weight: 300;
}

.section_card:nth-child(3) ul li {
    text-align: justify;
    list-style: none;
    font-weight: 400;
}

.section_card_span {
    width: 100%;
    text-align: justify;
    padding: 15px;
    font-family: 'Poppins', sans-serif;
    color: #ffff;
    font-size: 1rem;
    font-weight: 300;
}

.section_card_botão {
    width: 100%;
    padding: 10px;
    margin-left: 25px;
}

.section_card_botão button {
    width: 60%;
    height: 60px;
    border: none;
    border-radius: 5px;
    background-color: #ffffff;
    color: #12315B;
    font-size: 1.2rem;
    font-family: 'Open Sans', sans-serif;
    cursor: pointer;
    border: solid 1px transparent;
    background-image: -o-linear-gradient(white, white),
        -o-linear-gradient(315deg, #8BC6EC 0%, #9599E2 100%);
    background-image: linear-gradient(white, white),
        linear-gradient(135deg, #8BC6EC 0%, #9599E2 100%);
    background-origin: border-box;
    background-clip: content-box, border-box;
}


@media (max-width: 640px) {
    
    .section_card_div_h1 {
        margin:0;
        height: 100px;
    }
 

}


@media (max-width: 1025px) {
    
    .container_main {
        overflow-x: scroll;
    }
 

}

